<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>17/11/14 18:37:45</td>   <td>0</td> <td title="&gt;&gt;Restassuredconfigfile.configure()[pri:0, instance:TestScripts.P0_ProposalSubmission@8bd1b6a]">&gt;&gt;configure</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/14 18:37:45</td>   <td>328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P0_ProposalSubmission.gettoken()[pri:0, instance:TestScripts.P0_ProposalSubmission@8bd1b6a]">&gt;&gt;gettoken</td> 
<td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/14 18:37:48</td>   <td>2985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P0_ProposalSubmission.test()[pri:0, instance:TestScripts.P0_ProposalSubmission@8bd1b6a]">test</td> 
  <td>main@237351678</td>   <td></td> </tr>
</table>
